<ion-header>
  <ion-toolbar>
    <ion-title>Datos Personales</ion-title>
  </ion-toolbar>
</ion-header>
<p>Nombre Completo: Jose Daniel Fajardo Lopez
  <br>
  Descripcion del sujeto: Cabello Negro, largo y liso
  <br>
  -Tez Morena
  <br>
  -Altura de 1.70mt
  <br>
  -Ojos Negros.
  <br>
  <br>
  <br>
  Descripcion Personal:
  <br>
  Apacionado por los videojuegos y la cinematografia,
  <br>
  esto fue lo que me llevo a estudiar informatica.
  <br>
  <br>
  Se tocar la bateria y el piano, trabajo todos los dias, en mis ratos libres
  <br> practico actividades fisicas.








</p>

<ion-content>

</ion-content>
