<ion-header>
  <ion-toolbar>
    <ion-title>Metas Personales</ion-title>
  </ion-toolbar>
</ion-header>
<p>Metas Personales: Obtener una estabilidad economica y mental antes de los 35 años
  <br> asi como crear una familia propia con una buena persona.
  <br>
  <br>  
  Metas Profesionales: Ejercer mi profesion de manera correcta y obtener recursos
  <br>para hacer inversiones en negocios externos.
  <br>Tambien inculcarme de nuevos conomientos ajenos a mis estudios y ponerlos en practica.
  <br> 
  <br>
  Plazo de 5 años: Terminando mi carrera de ingenieria en informatica y empezando a ejercerla en el mundo laboral.
  <br>
  <br>
  Metas a largo y mediano plazo: Finalizar mi carrera profesional con exito, empezar un negocio propio asi como,
  <br> agrandar el actual, el cual es un negocio de prestamos.








</p>

<ion-content>

</ion-content>
