<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos personales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<body>
  <br>
   Nombre completo: Jose Daniel Fajardo Lopez. .
  <br>
  <br>
   Descripcion del sujeto: 
  <br>
  - Cabello negro, largo y liso.
  <br>
  - Tez morena.
  <br>
  - Altura de 1.70mt.
  <br>
  - Ojos color negro.
  <br>
  <p> Apacionado por los videosjuegos y la cinematografia, eso fue lo que me determino a estudiar la carrera de informatica,
    <br>
    se tocar una variedad de instrumentos como la guitarra, bateria y el piano, mi dia a dia se define en asistir a gimanasio,
    <br>
    ir a trabajar y realizar las actividades de la universidad.
  </p>
</body>
</ion-content>
