<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos de origen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
    <body>
      <p> Lugar de nacimiento: Honduras, Tocoa Colon, en el hospital de la misma.
        <br>
        Fecha de Nacimiento: 14 de Agosto del 2001.
        <br>
        Edad actual: 20 Años. 



      </p>
    </body>
</ion-content>
