<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Metas Personales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
 <body>
   <p>
    Metas personal: Obtener una estabilidad economica y mental antes de los 35 años y
    <br>
    crear una familia propia al lado de una buena persona.
    <br>
    <br>
    Metas profesionales: Ejercer mi profesion de manera correcta, obtener suficientes recursos para inversion en negocios externos, 
    <br>
    tambien inculcarme de otro tipo estudio y ponerlos en practica.
    <br>
    <br>
    <br>
    Plazo de 5 años: Terminando mi carrera de ingeneria en informatica, pasando de ello, empezar a ejercerla en el mundo laboral.
    <br>
    <br>
    Metas a largo y mediano plazo: Finalizar mi carrera profesional con exito, y empezar un negocio propio asi como agrandar el actual
    <br> el cual es un negocio de prestamos.




   </p>
 </body>
</ion-content>
